<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReviewCell Cadastrar</title>
    <link rel="stylesheet" href="./register.css" />
    <%- include('../../layout/link.ejs') %>
  </head>

  <body>
    <header>
      <h1><a href="/">ReviewCell</a></h1>
    </header>

    <div>
      <div class="content"><%- include(`../../${conteudo}`) %></div>
    </div>
  </body>
</html>
