<section class="galeria">
    <img class="foto" src="./img/01.jpg">
    <img class="foto" src="./img/02.jpg" >
    <img class="foto" src="./img/03.jpg" >
    <img class="foto" src="./img/04.jpg" >
    <img class="foto" src="./img/05.jpg" >
    <img class="foto" src="./img/06.jpg" >
</section>