
  <h1> <a href="/"> ReviewCell</a></h1> 


<div class="search-area">
  <div class="inputWrapper">
    <input type="text" placeholder="Pesquise aqui :)">
  </div>

  <a href="/login.html">
    <button>Login</button>
  </a>
</div>