header {
  background-color: #34a4eb;
  width: 100%;
}

h1 {
  margin: 0 25px;
}

h1 a {
  margin: 0 25px;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
  justify-content: center;
}

.phone-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.phone-description {
  text-align: center;
  margin-top: 20px;
  margin: 0 100px;
  margin-top: 20px;
}

.phone-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.phone-info-wrapper-tags {
  background-color: #34a4eb;
  color: #fff;

}

.login {
  display: flex;
  flex-direction: column;
  margin: 100px ;
  justify-content: center;
  align-items: center;
}

.login input {
  padding: 10px;
  width: 350px;
  border-radius: 10px;
}

.block {
padding: 10px;
}

  .buttonLogin {
    background-color: #34a4eb;
    margin: 20px ;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .login h1 {
    margin: 10px;
    font-family: decorative;
    font-size: 42px;
  }

  @media (max-width: 600px) {
    .phone-description {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .register {
    display: flex;
    margin: 20px;
  }

  #descricao {
    padding: 80px;
    width: 280px;
  }

  .register input{
    padding: 8px;
    border-radius: 10px;
    width: 400px;
  }

  .add {
    margin: 10px ;
  }

  
  
  