

header {
  background-color: #34a4eb;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0 25px;
}

.content {
    margin-left: 0 25px;
}

.cards-wrapper {
   display: flex;
  margin: 0 25px;
  padding-top: 20px;
  flex-wrap: wrap;
}

.card {
  border-radius: 6px;
  width: 200px;
  border: 1px solid #dadada;
  margin: 0 15px;
  margin-bottom: 20px;
}

 .phone-review-title {
    background-color: #34a4eb;
    border: 1px solid #dadada;
    border-radius: 6px 6px 0 0;
    color: #fff;
    text-align: center;
}

.phone-review-image-wrapper {
    width: 100%;
    height: 200px;
}

.phone-review-image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.phone-review-rating {
    border-top: 1px solid #dadada;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide-img img {
    position: relative;
    width: 100%;
   overflow: hidden;
}

#divBusca{
  background-color: #8bcdf7;
  border: solid 2px rgb(206, 232, 243);
  border-radius: 10px;
  width: 400px;
  height: 34px;
  margin-left: 650px;
}


#txtBusca {
  background-color: transparent;
  padding-left: 10px;
  font-size: 18px;
  border: none;
  height: 32px;
  width:300px;
}


.btnBusca {
  border: transparent ;
  border-color: white;
  border-radius: 10px;
  width: 20px;
  height: 30px;
}

.btnlogin {
  background-color: rgb(206, 232, 243);
  border-color: white;
  border-radius: 10px;
  width: 80px;
  padding: 10px;
}

#divBusca img {
  height: 28px;
}

.navigation {
  flex: auto;
  padding: 5px;
  text-align: left;
}

.returnHomeIphone img{
  width: 3%;
}

li {
  display: inline;
  vertical-align: middle;
}




  

 




  